body {
  background-color: rgba(247, 112, 24, 20%);
}

h1 {
  text-align: center;
}

.grid-item {
  border: 1px solid rgba(185, 63, 8);
  border-radius: 15px;
  padding: 5px;
  float: left;
}

#image-gallery {
  margin-top: 10%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

img {
  width: 400px;
  height: 350px;
}

h3 {
  text-align: center;
}

h1,
h3,
figcaption {
  font-family: "Oswald", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: rgba(185, 63, 8);
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  text-align: center;
}
